.photo {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.photo img {
  width: 150px;
  height: 150px;
}

.photo:hover img {
  transition: .5s ease;
  opacity: 0.3;
}



@media only screen and (max-width: 710px) {
  .photosContainer {
    grid-gap: 10px;
  }

  .photo {
    width: 120px;
    height: 120px;
  }

  .photo img {
    width: 110px;
    height: 110px;
  }
}


@media only screen and (max-width: 500px) {
  .photo {
    width: 90px;
    height: 90px;
  }

  .photo img {
    width: 80px;
    height: 80px;
  }
}
