@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    background: #E8EBF0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}